<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dinastia</title>
      <link rel="stylesheet" href="../css/style.css">
</head>
<body>
   
      <nav>
            <a href="../index.html">
      	   <img src="../img/logo.png" alt="Logo Dinastia">
            </a>
            <ul>
                  <li>
                        <a href="Productos.html">Productos</a>
                  </li>
                  <li>
                        <a href="Formas de pago.html">Formas de pago</a>
                  </li>
                  <li>
                        <a href="Nosotros.html">Nosotros</a>
                  </li>
                  <li>
                        <a href="Contacto.html">Contacto</a>
                  </li>
            </ul>
      </nav>
      <header >
            <h1 >Formas de Pago</h1>
      </header>
      <main id="imagenFormadepago">
             <img src="../img/formas.png" alt="Formas de Pago">
      
      </main>
      <footer class="controlFooter">
            <h2>Seguinos en nuestras redes</h2>
            <a href="https://facebook.com" target="_blank">
                  <img src="../img/facebook.png" alt="Seguinos en facebook">
            </a>
            <a href="https://twitter.com" target="_blank">
            <img src="../img/twitter.png" alt="Seguinos en twitter">
            </a>
      </footer>
</body>
</html>