<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dinastia</title>
      <link rel="stylesheet" href="../css/style.css">
</head>
<body>
      <nav>
            <a href="../index.html">
      	   <img src="../img/logo.png" alt="Logo Dinastia">
            </a>
            <ul>
                  <li>
                        <a href="Productos.html">Productos</a>
                  </li>
                  <li>
                        <a href="Formas de pago.html">Formas de pago</a>
                  </li>
                  <li>
                        <a href="Nosotros.html">Nosotros</a>
                  </li>
                  <li>
                        <a href="Contacto.html">Contacto</a>
                  </li>
            </ul>
      </nav>
      <header>
            <h1 class="text-bold">Nosotros</h1>
      </header>
      <main>
            <article class="novedades__articulo">
      	<p>
             En el año 1983 nuestros fundadores Norma López y Hernán Godoy comienzan a elaborar<span class="text-alert"> leche de soja para consumo personal pues unos sus hijos era alérgico a la leche y sus derivados </span>
Además de leche de soja, comienzan a elaborar postres, tortas y milanesas de soja.

Tras investigar y capacitarse, con los años, comienzan a realizar viajes informativos y degustaciones llegando a clientes y consumidores cada vez más interesados en las ventajas de nuestros productos.

Hoy con la incorporación de su hija a la empresa aportando sus conocimientos como Técnico Superior en Producción de Alimentos comercializamos milanesas de soja saborizadas y rellenas, tapas de tartas, empanadas, pre pizzas y panqueques integrales unificando, tecnología, cuidado del medio ambiente, innovación, esfuerzo y profesionalismo valores que nuestros fundadores supieron transmitir.     
            </p>
            </article>
      </main>
       <footer class="controlFooter">
            <h2>Seguinos en nuestras redes</h2>
            <a href="https://facebook.com" target="_blank">
                  <img src="../img/facebook.png" alt="Seguinos en facebook">
            </a>
            <a href="https://twitter.com" target="_blank">
            <img src="../img/twitter.png" alt="Seguinos en twitter">
            </a>
      </footer>
</body>
</html>