<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <title>Dinastia</title>
  </head>
  <body>
    <div class="bg-white text-center py-2 text secondary">Pedidos al 2234360650</div> 
  <!-- Inicia la nav -->
   <nav class="navbar navbar-expand-lg navbar-light bg-blue sticky-top" id="botonera">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="../views/Productos.html">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/Formas de Pago.html">Formas de Pago</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="../views/Contacto.html">Contacto</a></li>
            <li><a class="dropdown-item" href="../views/Nosotros.html">Nosotros</a></li>
            
          </ul>
        </li> 
      </ul>
    </div>
  </div>
</nav>

 <!-- ends la nav -->

  <main>
     <section class="py-3">
       <div class="container-fluid">
         <h1> Productos</h1>
         <div class="row">
          <article class="col-sm-12 col-md-6 col-lg-3">
            <img src="../img/rapiditas.jpg" alt="carrito" class="w-100 d-block">
            <h2>Rapiditas Bimbo</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, ducimus distinctio officia nostrum in non libero aperiam odit exercitationem cumque delectus ad consectetur minima laboriosam, rerum, asperiores id, illum inventore.
            </p>
          </article>
          <article class="col-sm-12 col-md-6 col-lg-3">
            <img src="../img/sojita1.jpg" alt="carrito" class="w-100 d-block">
            <h2>Tapas Sojita</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, ducimus distinctio officia nostrum in non libero aperiam odit exercitationem cumque delectus ad consectetur minima laboriosam, rerum, asperiores id, illum inventore.</p>
            <a href="#" class="btn btn-green w-100 mb-2">Realizar pedido
            </a>  
          </article>
          <article class="col-sm-12 col-md-6 col-lg-3">
            <img src="../img/integral.webp" alt="integral" class="w-100 d-block">
            <h2>Pan Integral Bimbo</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, ducimus distinctio officia nostrum in non libero aperiam odit exercitationem cumque delectus ad consectetur minima laboriosam, rerum, asperiores id, illum inventore.</p>
            <a href="#" class="btn btn-green w-100 mb-2">Realizar pedido
            </a>  
          </article>
          <article class="col-sm-12 col-md-6 col-lg-3">
            <img src="../img/artesano.webp" alt="artesano" class="w-100 d-block">
            <h2>Pan Artesano Bimbo</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, ducimus distinctio officia nostrum in non libero aperiam odit exercitationem cumque delectus ad consectetur minima laboriosam, rerum, asperiores id, illum inventore.</p>
            <a href="#" class="btn btn-green w-100 mb-2">Realizar pedido
            </a>  
          </article>
         </div><!-- Termina rows-->
       </div> <!-- Termina Container -->
     </section>
      
  </main>

  <footer class="bg-blue py-3 text-center text-blue">
    <h2>Seguinos en nuestras redes</h2>
            <a href="https://facebook.com" target="_blank">
                  <img src="../img/facebook.png" alt="Seguinos en facebook">
            </a>
            <a href="https://twitter.com" target="_blank">
            <img src="../img/twitter.png" alt="Seguinos en twitter">
            </a>
  </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>